*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: skyblue;
}

div{
    height: 50vh;
    width: 50vw;
    background-color: pink;
    font-size: 20px;
}

p{
    font-size: 2em;
}

span{
    font-size: 2rem;
}

div div{
    background-color: brown;
    height: 120dvh;
}

nav{
    height: 1000px;
    width: 400px;
    background-color: blanchedalmond;
    font-size: 48px;
}

img{
    height: 400px;
    width: 600px;
    border-radius: 4%;
}

input{
    width: 400px;
    height: 30px;
    background-color: sandybrown;
    border-color: red;
    border-radius: 4%;
}

::placeholder{
    color: white;
    font-size: 20px;
}